.filter-component {
  background-color: #FAF9F6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-family: 'Fustat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.filter-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-column {
  flex: 1;
  margin-right: 20px;
}

.filter-column:last-child {
  margin-right: 0;
}

h3, h4 {
  color: #2F4F4F;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

.clear-button {
  display: block;
  background: #004D40;
  color: #CBA135;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  transition: background 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 auto;
  font-family: 'Fustat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.clear-button:hover {
  background: #00332D;
  transform: scale(1.05);
}
