nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001f3f; /* Rich Navy */
  padding: 1em 2em;
  border-bottom: 1px solid #ddd; /* Light border for a subtle separation */
  position: sticky;
  top: 0;
  z-index: 1000;
  font-weight: 400;
}

.logo img {
  height: 75px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.nav-links li {
  margin: 0 1em;
  position: relative;
}

.nav-links li a {
  color: #cba135;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #cba135;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-links li a:hover::before {
  visibility: visible;
  width: 100%;
}

.shopping-cart img {
  height: 24px;
  width: 24px;
}

.language-toggle {
  cursor: pointer;
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #cba135; /* Soft Gold */
  transition: transform 0.3s, color 0.3s;
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: large;
  font-style: normal;
}

.language-toggle:hover {
  transform: scale(1.1);
  color: #cba135; /* Soft Gold */
}

.login-link {
  cursor: pointer;
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #cba135; /* Soft Gold */
  transition: transform 0.3s, color 0.3s;
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: large;
  font-style: normal;
}

.login-link:hover {
  transform: scale(1.1);
  color: #cba135; /* Soft Gold */
}

.logout-button {
  background-color: #ff6b6b; /* A red color for logout */
  color: #ffffff; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  padding: 10px 15px; /* Padding for size */
  font-size: 16px; /* Font size for readability */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Pointer cursor for better UX */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.logout-button:hover {
  background-color: #ff4c4c; /* Darker red on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.logout-button:active {
  background-color: #e63939; /* Even darker red when pressed */
  transform: scale(0.95); /* Shrink slightly on click */
}

.logout-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 5px rgba(255, 107, 107, 0.8); /* Add a glowing outline */
}
